In [1]:
# import pandas library

import pandas as pd

In [2]:
premier_league_matches = pd.read_csv("./data/soccer18-19.csv")

In [3]:
## Data Information

# Data Dictionary
# Column	Explanation
# Div	Division the game was played in
# Date	The date the game was played
# HomeTeam	The home team
# AwayTeam	The away team
# FTHG	Full time home goals
# FTAG	Full time away goals
# FTR	Full time result
# HTHG	Half time home goals
# HTAG	Half time away goals
# HTR	Half time result
# Referee	The referee of the game
# HS	Number of shots taken by home team
# AS	Number of shots taken by away team
# HST	Number of shots taken by home team on target
# AST	Number of shots taken by away team on target
# HF	Number of fouls made by home team
# AF	Number of fouls made by away team
# HC	Number of corners taken by home team
# AC	Number of corners taken by away team
# HY	Number of yellow cards received by home team
# AY	Number of yellow cards received by away team
# HR	Number of red cards received by home team
# AR	Number of red cards received by away team

In [6]:
premier_league_matches

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,10/8/18,Man United,Leicester,2,1,H,1,0,H,...,6,4,11,8,2,5,2,1,0,0
1,E0,11/8/18,Bournemouth,Cardiff,2,0,H,1,0,H,...,4,1,11,9,7,4,1,1,0,0
2,E0,11/8/18,Fulham,Crystal Palace,0,2,A,0,1,A,...,6,9,9,11,5,5,1,2,0,0
3,E0,11/8/18,Huddersfield,Chelsea,0,3,A,0,2,A,...,1,4,9,8,2,5,2,1,0,0
4,E0,11/8/18,Newcastle,Tottenham,1,2,A,1,2,A,...,2,5,11,12,3,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/5/19,Liverpool,Wolves,2,0,H,1,0,H,...,5,2,3,11,4,1,0,2,0,0
376,E0,12/5/19,Man United,Cardiff,0,2,A,0,1,A,...,10,4,9,6,11,2,3,3,0,0
377,E0,12/5/19,Southampton,Huddersfield,1,1,D,1,0,H,...,3,3,8,6,4,3,0,1,0,0
378,E0,12/5/19,Tottenham,Everton,2,2,D,1,0,H,...,3,9,10,13,7,4,0,2,0,0
379,E0,12/5/19,Watford,West Ham,1,4,A,0,2,A,...,8,9,10,10,7,2,1,0,1,0

In [8]:
# We gonna to clean Date column to a valid pandas datatime format and show the change
premier_league_matches["Date"] = pd.to_datetime(premier_league_matches["Date"])
premier_league_matches

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2018-10-08,Man United,Leicester,2,1,H,1,0,H,...,6,4,11,8,2,5,2,1,0,0
1,E0,2018-11-08,Bournemouth,Cardiff,2,0,H,1,0,H,...,4,1,11,9,7,4,1,1,0,0
2,E0,2018-11-08,Fulham,Crystal Palace,0,2,A,0,1,A,...,6,9,9,11,5,5,1,2,0,0
3,E0,2018-11-08,Huddersfield,Chelsea,0,3,A,0,2,A,...,1,4,9,8,2,5,2,1,0,0
4,E0,2018-11-08,Newcastle,Tottenham,1,2,A,1,2,A,...,2,5,11,12,3,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2019-12-05,Liverpool,Wolves,2,0,H,1,0,H,...,5,2,3,11,4,1,0,2,0,0
376,E0,2019-12-05,Man United,Cardiff,0,2,A,0,1,A,...,10,4,9,6,11,2,3,3,0,0
377,E0,2019-12-05,Southampton,Huddersfield,1,1,D,1,0,H,...,3,3,8,6,4,3,0,1,0,0
378,E0,2019-12-05,Tottenham,Everton,2,2,D,1,0,H,...,3,9,10,13,7,4,0,2,0,0
379,E0,2019-12-05,Watford,West Ham,1,4,A,0,2,A,...,8,9,10,10,7,2,1,0,1,0

In [14]:
# We're gonna to group by Team in a Dict.
ordered_teams = {}

grouped_teams = premier_league_matches.groupby(["HomeTeam", "AwayTeam"]).size().reset_index(name="counts")

for _, row in grouped_teams.iterrows():
    team = row["HomeTeam"]
    ordered_teams[team] = premier_league_matches[(premier_league_matches["HomeTeam"] == team) | (premier_league_matches["AwayTeam"] == team)]

In [25]:
ordered_teams["Arsenal"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 7 to 371
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       38 non-null     object
 1   Date      38 non-null     datetime64[ns]
 2   HomeTeam  38 non-null     object
 3   AwayTeam  38 non-null     object
 4   FTHG      38 non-null     int64
 5   FTAG      38 non-null     int64
 6   FTR       38 non-null     object
 7   HTHG      38 non-null     int64
 8   HTAG      38 non-null     int64
 9   HTR       38 non-null     object
 10  Referee   38 non-null     object
 11  HS        38 non-null     int64
 12  AS        38 non-null     int64
 13  HST       38 non-null     int64
 14  AST       38 non-null     int64
 15  HF        38 non-null     int64
 16  AF        38 non-null     int64
 17  HC        38 non-null     int64
 18  AC        38 non-null     int64
 19  HY        38 non-null     int64
 20  AY        38 non-null     int64
 21  HR        38 non-null     int64
 22  AR        38 non-null     int64
dtypes: datetime64[ns](1), int64(16), object(6)
memory usage: 7.1+ KB